*.idf
*.pdf
*.doc*
*.csv
*.xlx*
*.RData
*.ppt*
*.tmp
~$*.doc*
~$*.xlx*
~$*.ppt*
.history
*.gdoc
*.gsheet
*.gslides
*.gform
*.gtable
*.gdraw
*.xcf

*.jpg
*.jpeg
*.gif
*.raw
*.webp
*.png
*.tiff
*.tif
*.svg
*.svgz
*.xbm
*.bmp
*.dib
*.ico
*.3dm
*.max

mouse-eyetracker/data/
mouse-eyetracker/bin/testing/
mouse-eyetracker/forms/
mouse-eyetracker/data/
mouse-eyetracker/figures/
mouse-eyetracker/results/
mouse-eyetracker/figures/
pilot/data/
pilot/instructions/
pilot/results/
