*.idf
mouse-eyetracker/data/
mouse-eyetracker/bin/testing/
mouse-eyetracker/forms/
mouse-eyetracker/data/
mouse-eyetracker/figures/
mouse-eyetracker/results/
mouse-eyetracker/figures/
pilot/data/
pilot/docs/
pilot/instructions/
pilot/results/
